#service{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}


.main{
    color: pink;
    background-color: rgb(40, 40, 64);
}

#VIP{
    background-color: cornsilk;
    margin: 40px;
    border-radius: 60px;
    padding: 30px;

}

#VIP button{
   background-color: pink;
   padding: 10px;
   border-radius: 40px;
}

#kiki{
    display: flex;
    
}
.summer{
    text-align: center;
    background-color: pink;
    margin: right 30px;
    padding: 30px;
    border-radius: 20px;
}
